# SPDX-License-Identifier: Apache-2.0

if BOARD_MDBT50Q_RX

config BOARD
    default "mdbt50q_rx"

config SOC
    default "nrf52840_qiaa"

config BOARD_ENABLE_DCDC
    default y

config GPIO
    default y

config SERIAL
    default y

config UART_CONSOLE
    default y

config USB_NRFX
    default y

config USB_DEVICE_STACK
    default y

config BT
    default y

config BT_CTLR
    default y

endif
