#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MACRO_PLACEHOLDER 0

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/* 標準ドライバのため空設定にする */
&trackball {
};

/ {
    /* (combos, macros, behaviors は変更なしのため省略。元のままでOK) */

    keymap {
        compatible = "zmk,keymap";

        /* Layer 0: Default */
        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                   &kp T                                            &kp Y        &kp U  &lt 5 I      &kp O      &kp P
&kp A             &kp S         &kp D         &kp F                   &kp G        &kp LS(LG(S))                       &kp MINUS    &kp H        &kp J  &kp K      &kp L      &kp SQT
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                   &kp B        &kp COLON                           &kp SEMICOLON  &kp N        &kp M  &kp COMMA  &kp DOT    &kp SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt_to_layer_0 6 INT_HENKAN  &lt 2 SPACE  &lt_to_layer_0 3 INT_MUHENKAN  &kp BACKSPACE  &lt 1 ENTER                             &kp DEL
            >;
            /* ★左手エンコーダースクロール */
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
        
        /* (他のレイヤーも変更なし。Layer 3 ARROWの sensor-bindings もそのままでOK) */
    };
};
