manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: englmaxi
      url-base: https://github.com/englmaxi
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    # ▼▼▼ badjeff版のドライバを復活させます（これが最新で安定しています） ▼▼▼
    - name: zmk-pmw3610-driver
      url: https://github.com/badjeff/zmk-pmw3610-driver
      revision: main
    # ▼▼▼ ディスプレイ用ドライバ ▼▼▼
    - name: zmk-dongle-display
      remote: englmaxi
      revision: main
  self:
    path: config
