rm boards/shields/roBa/roBa_dongle.overlay

printf "#include <dt-bindings/zmk/matrix_transform.h>\n\n/ {\n    chosen {\n        zmk,kscan = &mock_kscan;\n        zmk,matrix_transform = &default_transform;\n        zephyr,display = &oled;\n    };\n\n    default_transform: keymap_transform_0 {\n        compatible = \"zmk,matrix-transform\";\n        columns = <1>;\n        rows = <1>;\n        map = <RC(0,0)>;\n    };\n\n    mock_kscan: kscan_0 {\n        compatible = \"zmk,kscan-mock\";\n        columns = <1>;\n        rows = <1>;\n        events = <0>;\n    };\n};\n\n&pro_micro_i2c {\n    status = \"okay\";\n\n    oled: ssd1306@3c {\n        compatible = \"solomon,ssd1306fb\";\n        reg = <0x3c>;\n        width = <128>;\n        height = <64>;\n        segment-offset = <0>;\n        page-offset = <0>;\n        display-offset = <0>;\n        multiplex-ratio = <63>;\n        segment-remap;\n        com-invdir;\n        com-sequential;\n        prechargep = <0x22>;\n    };\n};\n" > boards/shields/roBa/roBa_dongle.overlay

